/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

button {

	cursor:pointer;
}

a {
	cursor: pointer;
}

#wrapper { 
  position: relative; 
}

#sessions_in_graph { 
  position: relative; 
  top: 10px; 
  left: 10px; 
  z-index: 99;
   
}

#sessions_in_graph input {
  background-color:rgba(0,0,0,0);
  border:none;

}

#avg {
	
  font-family: "Times New Roman", Times, serif;

}

#search_bar{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


#error, #msg {
	
  position: absolute;
  right: 30%;
  top: 20%;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 100px;
  text-align: center; 

}
#error {
	
  border: 2px solid red;

}
#msg {
	
  border: 2px solid green;

}

.inholiday {
  color: orange ! important;
}
.inactive {
  color: red
}

.active {
  color: green
}
.datepicker {

	width: 20px;


}

#dashboard {
	position: relative;
	float: right;
	right: 10px;
}

#datepicker_wrapper {
    position: absolute;
    top: 300px;
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
#from {
    width: 15%;
    height: 200px;
    float: left;
}

#to {
    margin-left: 15%;
    height: 200px;
}
#google_timeline {
  position: relative;
  top: 100px;
}


.loading {

  width: 200px;
  height: 150px;
  position: absolute;
  left: 50%;

}
